:root {
    --main-content-color: #2F303A;
    --background-color: #FFFFFF;
    --header-color: #212121;
    --sublogo-color: #000000;
    --header-link-color: #757575;

    --main-title-color: #FFFFFF;
    --main-btn-color: #FFFFFF;
    --second-btn-color: #212121;
    --second-title-color: #212121;
    --third-title-color: #212121;
    --text-color: #757575;
    --footer-color: #FFFFFF;
    --accent-color: #2196F3;
    --btn-bacground-color: #2196F3;
    --btn-background-second-color: #F5F4FA;
    --project-gap: 30px;
    --border-color: #EEEEEE;
}