.header__container {
//display: flex;
//align-items: center;


}

.navigation {
    display: flex;
    align-items: center;
    
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-logo__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
}

.header-sublogo__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--sublogo-color);
}

.menu-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    margin-left: auto;
}

.menu-button .icon-close {
    display: none;
}

.menu-button .is-open .icon-close {
    display: block;
}

.menu-button .is-open .icon-menu {
    display: block;
}