.header-logo__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    
}

.header-sublogo__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--sublogo-color);
}