
.menu-list {
    @media screen and (max-width:785px) {
        visibility: hidden;
    }
    @media screen and (min-width:786px) {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
        margin-right: 50px;
    }
    &__link {
        font-family: "Roboto",
            Tahoma,
            sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-color);
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color 250ms,
            cubic-bezier (0.4, 0, 0.2, 1);
        position: relative;}
    }


    &__link:hover {
        color: var(--accent-color);
    }

    &__link:focus {
        color: var(--accent-color);
    }
}


