.portfolio__list {

@media screen and (min-width:480px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}
}

.portfolio__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__button {
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--second-btn-color);
    background-color: var(--btn-background-second-color);
    transition: color 250ms, background-color 250ms,
        cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
    background-color: var(--accent-color);
    color: var(--main-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}