.project-list {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    
    margin-right: -30px;
    margin-bottom: -30px;
    
}}

.project-item {
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 30px) / 3);
    
}
    &:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}
}

.project-item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 30px;

    }

.project-link:hover {
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.project-card {
    
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    &__title {
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--second-title-color);
        margin-bottom: 4px;
    }
    &__text {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--text-color);
    }
}

.project-img {
 //   display: block;
    width: 100%;
    height: auto;
}

.project-box {
    position: relative;
    overflow: hidden;
//    display: block;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    ;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__text {
        position: absolute;
        top: 63px;
        right: 24px;
        bottom: 63px;
        left: 24px;
    
      //  display: block;
     //   width: 322px;
        width: 100%;
        height: 100%;
    
    
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--main-title-color);
    
    
    }
}

.project-link:hover .project-overlay {
    transform: translateY(0%);
}